.cloud-hud-cont {
   position: fixed;
   top: 90px;
   right: 25px;
   z-index: 1001;
   transition: transform 0.3s ease-in-out;
   transform: scale(1)
}

.cloud-hud-cont:hover {
   transform: scale(1.03);
}


.cloud-label1 {
   position: absolute;
   left: 40px;
   bottom: 27px;
   font-size: 24px;
   font-weight: 100;
   color: rgb(245,245,245)
}

.cloud-label2 {
   position: absolute;
   left: 103px;
   bottom: 27px;
   font-size: 24px;
   font-weight: 100;
   color: rgb(245,245,245)
}

.turn-label {
   position: absolute;
   width: 180px;
   left: 40px;
   bottom: 60px;
   font-family: 'Scope One';
   font-size: 22px;
   font-weight: bolder;
   color: rgb(10,10,10)
}

@media screen and (max-width: 768px) { 

   .cloud-hud-cont {
      top: 110px;
   }
}

/*/////////////////////////////////////////////////////////////////////////////*/
/* iPhone 8 rendered pixel width */
@media screen and (device-width: 375px) {

   .cloud-hud-cont {
      position: fixed;
      top: 390px;
      right: 25px;
   }

}

/* iPhone X Landscape */
@media screen and (device-width: 812px) { 

   .cloud-hud-cont {
      position: fixed;
      top: 50px;
      right: 25px;
   }

}

/* iPhone 8 landscape pixel width */
@media screen and (device-width: 667px) { 


}