.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* background: #000; */
}

/* styles to set containers size and aspect ratio */
.gameframe {
  position: relative;
  margin: 0px;
  z-index: 999;
  /*border: 3px solid red;*/
  /* height is 4/5 width */
  /*width: 100vw;*/
  /*height: 100%;
  padding: 2%;*/
  /*transform: rotate3d(0.6, -0.2, 0.2, 75deg);*/
}

.svg-canvas {
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  /* height: 80vw;
  width: 80vw; */
}

.surrender-button {
   position: absolute;
   left: 150px;
   top: 31px;
   z-index: 1001;
}
