.howToPlayLink {
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
}
.howToPlay-mainDiv {
  overflow: scroll;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
.sectionHeading {
  margin-bottom: 15px;
}
.sectionText {
  margin-left: 5px;
  display: block;
}
.material-fake-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  max-width: 150px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(
    --pure-material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  transition: box-shadow 0.2s;
}
.green-fake {
  background-color: #388e3c;
}
.round-fake-button {
  font-size: 1.8em;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(
    --pure-material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-weight: bold;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  padding: 5px;
}
.unitActionImageCont {
}
.unitActionText {
}
.abilityName {
  font-weight: bold;
}
.unitHeading {
  font-weight: bold;
  font-size: 28px;
}
.unitDetailsCont {
}
