.leader-table {
   border-collapse: collapse;
   width: 82vw;
   margin-left: 5px;
  
 }
 
 .leader-entry {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
 }

 .leader-entry:first-of-type {
    width: 7vw;
 }

 .leader-header {
    background-color: orange;
 }

 .leader-body {
   overflow: auto;
 }
 
.leader-row {
   transition: background-color 0.1s ease-in-out;
}

 .leader-row:nth-child(even) {
   background-color: #dddddd;
 }

 .leader-row:hover {
    background-color: orange;
 }


 .center-text {
    text-align: center;
 }

#scrolltable { height: 90vh; overflow: auto; }
#scrolltable table { border-collapse: collapse; }
