table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 80vw;
   
   margin-left: 5px;
  
 }
 
 td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
 }

 thead {
    background-color: orange;
 }

 tbody {
   height: 80vh;
   overflow: auto;
 }
 
 tr:nth-child(even) {
   background-color: #dddddd;
 }

 tr:hover {
    background-color: orange;
 }


 .center-text {
    text-align: center;
 }

#scrolltable { margin-top: 20px; height: 80vh; overflow: auto; }
#scrolltable table { border-collapse: collapse; }
