

.players-div {
   display: flex;
   justify-content: space-around;
   padding-top: 20px;
   min-width: 340px;
   max-width: 520px;
   margin: 0 auto;
}

.player-div{
   
}

.lobbyCenterContent {
   display: flex;
   flex-direction: column;
  text-align: center;
  align-items: center;
  height: 15vh;
  justify-content: space-around;
}

.leave-button {
   position: absolute;
   top: 30px;
   right: 30px;
}

@media screen and (max-width: 490px) {

   .player-div img {
      width: 100px;
   }

   .players-div {
      min-width: 300px;
   }

   .lobbyCenterContent {
      width: 100px;
   }

   .card-container {
      width: 95%;
   }

   .shorter {
      height: 75px;
   }
   
}