.lobbies-list-background {
   width: 100%;
   height: 100%;
   background-color: orange;
   padding: 10vh;
}

.lobbies-list-foreground {
   overflow: hidden;
   margin: 0 auto;
   width: 60vw;
   height: 60vh;
   background-color: white;
}

.lobbies-list-elem {
   width: 45vw;
   height: 5vw;
   border: 1px solid black;
}
