.lobbies-list-elem-container {
   display: flex;
   width: 55vw;
   height: 10vh;
   /* border: 2px solid black; */
   justify-content: space-between;
   margin: 10px auto 10px auto;
   background: #C5CAE9;
}

.player-label {
   font-size: 1.3em;
   /* border: 2px solid black; */
   padding: 10px;
}



