
.login-form {
   padding-top: 5px;
}

.login-label {
   margin-top: 30px;
   margin-bottom: 10px;
   font-size: 1.3em;
   color:black;
}

 
 .cool-input {
   text-align: center;
   font-size: inherit;
   background-color: transparent;
   border: 1px solid transparent;
   border-bottom-color: gray;
   color: black;
   /* padding-top: 10px; */
 }
 
 .cool-input:focus {
   outline: none;
 }
 
 .cool-input::placeholder {
   color: hsla(0, 0%, 100%, 0.6);
 }
 
 .span-effect {
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 100%;
   height: 1px;
   opacity: 0;
   background-color: orange;
   transform-origin: center;
   transform: translate(-50%, 0) scaleX(0);
   transition: all 0.3s ease;
 }
 
 .cool-input:focus ~ span {
   transform: translate(-50%, 0) scaleX(0.9);
   opacity: 1;
 }

