* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.topbar {
  height: 20vh;
  border-style: solid;
  border-color: blue;
}

.game-chat-container {
  display: flex;
}

.friends {
  width: 20vw;
  border-style: solid;
  border-color: red;
}

.main-div {
  width: 100%;
  height: 80vh;
}
