/* "Meyer" CSS reset - useful for starting with a blank slate  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  height: 100vh;
  overflow: hidden;
}

div {
  position: relative;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%);
}

.sidebar-and-game-container {
  display: flex;
}

.main-div {
  width: 100%;
  height: 90vh;
}

.card-container {
  overflow: hidden;
  /* margin: 0 auto; */
  width: 65vw;
  min-width: 600px;
  height: 65vh;
  background-color: rgba(250, 250, 250, 1);
  padding: 15px;
  border-radius: 3px;
  z-index: 1000;
  left: 0;
  right: 0;
  top: -150px;
  bottom: 0;
  margin: 170px auto auto auto;

  position: relative;
  overflow: hidden;
}

.card-container-narrow {
  overflow: hidden;
  /* margin: 0 auto; */
  width: 25vw;
  min-width: 275px;
  height: 75vh;
  background-color: rgba(250, 250, 250, 1);
  padding: 15px;
  border-radius: 3px;
  z-index: 1000;
  right: 5vw;
  top: 15vh;
  bottom: 0;
  margin: 25px auto auto auto;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
}

.card-top-cont {
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: 60px;
  /* border: 1px solid black; */
  margin: 0;
  border: 2px solid transparent;
  /* border-bottom-color: black; */
}

.card-top-label {
   font-family: "Scope One", serif;
letter-spacing: 2px;
  font-size: 2.7em;
  font-weight: bold;
  display: flex;
  vertical-align: bottom;
}

.card-top-sub-label {
  font-size: 1.5em;
  vertical-align: bottom;
}

.card-top-sub-label-lobby {
  font-size: 22px;
  line-height: 8vh;
  margin-left: 20px;
  min-width: 95px;
}

.card-scrollable-cont {
  overflow-y: auto;
  height: 51vh;
  padding-bottom: h;
  margin-top: 10px;
}

.material-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.material-shadow2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.animated-fade-in {
  animation: opac 0.8s;
}

.animated-fade-in-slow {
  animation: opac 1.7s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-grow {
  animation: expand 0.8s ease-in-out;
}

@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animated-grow-bounce {
  transition: all 0.7s ease-in-out;
  animation: expand-bounce 0.7s ease-in-out;
}

@keyframes expand-bounce {
  0% {
    transform: scale(0);
  }
  55% {
    transform: scale(1.03);
  }
  75% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

.slide-from-left {
  position: relative;
  animation: animateleft 1.1s ease-in-out;
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.App {
  z-index: 100000;
}

.left-marge {
  margin-left: 20px;
}

/***** Chat box *****/

.main-container,
.sidebar-and-game-container,
.main-div,
.wrapper,
.App,
.sc-launcher,
.chatComponent,
.chatComponent > div,
.chatComponent div,
.sc-header,
.sc-header div,
.sc-header > div {
  z-index: 1001 !important;
}
.sc-chat-window {
  max-height: 60% !important;
}

.sc-user-input--button
  .sc-user-input--file-icon-wrapper
  .sc-user-input--file-icon,
.sc-user-input--button .sc-user-input--file-icon-wrapper {
  display: none !important;
  visibility: hidden !important;
  z-index: 0 !important;
  pointer-events: none !important;
}
/***** Chat box *****/

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .card-container {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    min-width: 300px;
    width: 85vw;
    height: 75%;
  }

  .card-container-about {
   min-width: 300px;
   width: 600px;
   height: 75%;
 }

  .card-container-narrow {
    width: 80vw;
    margin: 50px 25px auto 25px;
    height: 550px;
    padding: 25px;
  }

  .card-top-cont {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 90vh;
  }

  .card-top-cont-about {
   display: flex;
   flex-direction: column;
   height: 30px;
   width: 90vh;
 }

  .card-scrollable-cont {
    margin-top: 30px;
  }

  .card-container {
    min-width: 300px;
    width: 85vw;
    height: 75%;
  }

  .card-container-narrow {
    width: 80vw;
    margin: 50px 25px auto 25px;
    height: 550px;
    padding: 25px;
  }

  .card-top-cont {
    display: flex;
    flex-direction: column;
  }

  .leader-top-cont {
    height: 70px;
  }

  .card-top-sub-label {
    font-size: 1.3em;
    margin-bottom: 50px;
  }
}

@media screen and (device-width: 375px) {
  .card-container-narrow {
    width: 80vw;
    margin: 100px 25px auto -200px;
    height: 70%;
    padding: 25px;
  }
}

@media screen and (device-width: 360px) {
  .card-container-narrow {
    width: 80vw;
    margin: 100px 25px auto -200px;
    height: 70%;
    padding: 25px;
  }
}
