.outerbar {
  background: #f00;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  z-index: 999;
}

.outerbar-turn-display {
}

.outerbar-player-turn {
  font-size: 20px;
}

.outerbar-turns-total {
}

.outerbar-points-section {
}

.outerbar-point-label {
  font-size: 20px;
}

.outerbar-points-container {
}

.outerbar-points-players {
}

.outerbar-player-names {
}

.outerbar-points {
}

.outerbar button {
  border-color: blue;
  border-width: 10px;
}
