.profile-label:first-of-type {
   margin-top: 80px;
}

.profile-label {
   margin-bottom: 10px;
   font-size: 1.3em;
   color: black;
   border: 3px solid transparent;
   border-bottom-color: grey;
}

.profile-username {
   margin-top: 10px;
   color: black;
   size: 1.1em;
}

.profile-table-headers {
   width: 5vw;
}

.profile-table {
   width: 10vw;
   margin: 30px auto 0 auto;
   color: black;
}

.signout-button {
   position: absolute;
   bottom: 0;
   text-align: center;
}