.sideBar {
   width: 20vw;
   background: linear-gradient(to right, #232526, #414345);
   text-align: center;
   padding-top: 50px;
   box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}

.sideBarForm {
   height: 50%
}

