.topBar {
   height: 10vh;
   width: 100vw;
   text-align: center;
   line-height: 10vh;
   font-size: 1.5em;
   border: 3px solid transparent;
   border-bottom-color: black;
   border-top-color: orange;
}

.link {
   float: left;
   width: 25%;
   height: 100%;
   text-decoration: none;
   color: black;
   transition: background-color 0.4s ease-in-out;
}

.title {
   float: left;
   width: 25%;
}

.link:hover {
   background-color: lightgrey;
}

@media screen and (max-width: 790px) {
   
   .topBar {
      font-size: 1.2em;
   }

}
