.news-element {
   background-color: transparent;
   border: 3px solid transparent;
   border-bottom-color: darkgray;
   padding-top: 10px;
   padding-bottom: 10px;
   font-family: 'Rubik', sans-serif;
   margin: 0 10px;
   list-style: none;
   text-align: justify;
}

.news-label {
   text-align: center;
   font-size: 1.3em;
   font-weight: bold;
   padding-top: 10px;
}

.news-container {
   z-index: 1000;
   float: right;
   width: 20vw;
   min-width: 225px;
   height: 90vh;
   border: 1px solid transparent;
   border-left-color: black;
   padding: 0;
   list-style-type: none;
   overflow: auto;
   background: rgba(250,250,250, 0.9);
}

.vert-scroll {
   overflow-y:scroll;
   
}